@model MiniMarketApp.Models.DetalleVenta

@{
    ViewData["Title"] = "Detalles";
}

<h2 class="mb-4 text-info fw-bold">Detalles del Registro</h2><div class="row justify-content-center"><div class="col-md-8"><div class="card shadow-sm border-0 rounded-4 mb-4"><div class="card-body p-4 p-md-5 bg-white"><dl class="row fs-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl></div></div></div></div><div class="text-center mt-3"><a asp-action="Edit" asp-route-id="@Model?.Id"><i class="bi bi-pencil-square"></i> Editar</a> <a asp-action="Index" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left"></i> Volver a la lista</a>
</div>





